.schedule-calendar .react-calendar {
    border: none;
    /* width: 70%; */
}

.schedule-calendar .react-calendar__navigation button:disabled {
    background-color: #fff;
}

.schedule-calendar .react-calendar button {
    padding: 0 0;
    color: #A09792;
}

.schedule-calendar .react-calendar__tile--hasActive {
    background-color: #FFE5D8;
}
.react-calendar__month-view__weekdays__weekday{
    color: #A09792;
}

.schedule-calendar .react-calendar__tile--hasActive:enabled:hover,
.schedule-calendar .react-calendar__tile--hasActive:enabled:focus {
    background-color: #FFE5D8;
    color: black;
}

.schedule-calendar .react-calendar__tile--active {
    background-color: #FFE5D8;
    color: black;
}

.schedule-calendar .react-calendar__tile--active:enabled:hover,
.schedule-calendar .react-calendar__tile--active:enabled:focus {
    background-color: #FFE5D8;
}

.css-1u9des2-indicatorSeparator {
    width: 0px !important;
}

.react-calendar__tile--now {
    background: #D6B37D;
    color: #A09792;
}
.react-calendar__tile--now:hover{
    background: #D6B37D !important;
    color: #A09792;
}

/* .react-calendar__tile--now {
    background-color: #FFE5D8;
} */


.selectable-day {
    background-color: red !important;
    color: #000 !important;
    /* border: 1px solid #000 !important; */
    font-weight: bold !important;
  }
  