.custom-calendar .react-calendar {
    width: 500px !important;
    height: 410px;
    margin: 0 auto;
    max-width: 100%;
    background: white;
    border: 1px solid #EAEBEF;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    /* line-height: 1.125em; */
}

.custom-calendar .react-calendar__month-view__days {
    height: 210px;
    align-items: center;
}

.custom-calendar .react-calendar--doubleView {
    width: 700px;
}

.custom-calendar .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
}

.custom-calendar .react-calendar--doubleView .react-calendar__viewContainer>* {
    width: 50%;
    margin: 0.5em;
}

.custom-calendar .react-calendar,
.custom-calendar .react-calendar *,
.custom-calendar .react-calendar *:before,
.custom-calendar .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.custom-calendar .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
}

.custom-calendar .react-calendar button:enabled:hover {
    cursor: pointer;
}

.custom-calendar .react-calendar__navigation {
    display: flex;
    height: 32px;
    margin-bottom: 1em;
}

.custom-calendar .react-calendar__navigation button {
    min-width: 44px;
    background: none;
}

.custom-calendar .react-calendar__navigation button:disabled {
    background-color: #FFFFFF;
}

.custom-calendar .react-calendar__navigation button:enabled:hover,
.custom-calendar .react-calendar__navigation button:enabled:focus {
    background-color: #FFFFFF;
}

.custom-calendar .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    height: 51px;
    align-items: center;
    margin-bottom: 20px;
    
}

.react-calendar__month-view__days__day {
    height: 50px;
}

.custom-calendar .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
}

.calendar .react-calendar__month-view__days__day {
    color: gray;
  }

.custom-calendar .react-calendar__month-view__days__day--weekend {
    color: #d10000;
}

.custom-calendar .react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
    margin: 20px;
}

.custom-calendar .react-calendar__year-view .react-calendar__tile,
.custom-calendar .react-calendar__decade-view .react-calendar__tile,
.custom-calendar .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
}

.custom-calendar .react-calendar__tile {
    max-width: 100%;
    /* padding: 10px 6.6667px; */
    padding: 0px !important;
    background: none;
    text-align: center;
    line-height: 16px;
}

.custom-calendar .react-calendar__tile:disabled {
    background-color: #FFFFFF;
}

.custom-calendar .react-calendar__tile:enabled:hover,
.custom-calendar .react-calendar__tile:enabled:focus {
    background-color: #FFFFFF;
}

/* .react-calendar__tile--now {
    background: #ffff76;
  } */

/* .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #ffffa9;
  } */

.custom-calendar .react-calendar__tile--hasActive {
    background: #76baff;
}

.custom-calendar .react-calendar__tile--hasActive:enabled:hover,
.custom-calendar .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
}

.custom-calendar .react-calendar__tile--active,
.custom-calendar .react-calendar__month-view__weekdays__weekday--current {
    background: #D6B27D;
    border-radius: 10px;
    color: white;
    height: 50px;
 
}

.custom-calendar .react-calendar__month-view__weekdays__weekday--current {
    height: 100%;
    display: grid;
    place-items: center;
}

.custom-calendar .react-calendar__tile--active:enabled:hover,
.custom-calendar .react-calendar__tile--active:enabled:focus {
    background: #D6B27D;
    width: 20px;
}

.custom-calendar .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
    
}

.custom-calendar abbr[title] {
    text-decoration: none !important;
}

.booked_all_slot_date {
    background-color: #c9c3c3 !important;
    color: #f0f0f0 !important;
    border-radius: 10px !important;
    border: 1px solid black !important;

    margin-left: 2.5px !important;
    margin-right: 2.5px !important;
    margin-top: 2.5px !important;
    margin-bottom: 2.5px !important;
}

.available_slot_date {
    background-color: #FFE5D8 !important;
    color: black !important;
    border-radius: 10px !important;
    border: 1px solid black !important;

    margin-left: 2.5px !important;
    margin-right: 2.5px !important;
    margin-top: 2.5px !important;
    margin-bottom: 2.5px !important;
}

.highlight{
    background-color: #D3D3D3 !important;
    border-radius: 10px;
    color: black ;
    height: 50px;
    border-style: dashed !important;
}