.pagination {
  display: flex;
  align-items: center;
  border:2px solid #ccc;
  border-radius: 10px;
}

.pagination-button {
  color: #333;
  cursor: pointer;
  padding: 0.5rem;
}

.pagination-input {
  width: 4rem;
  padding: 0.5rem;
  margin: 0 0.2rem;
  border: 1px solid #ccc; 
  outline: none;
}


.pagination-button:disabled {
  opacity: 0.5; 
  cursor: not-allowed;
}

.vertical-left-line {
  border-left: 1px solid #ccc; 
  height: 41px;
  margin: 0 8px;
  position: absolute;

}

.vertical-right-line{
  border-left: 1px solid #ccc; 
  height: 41px;
  margin: 0 -9px;
  position: absolute;
}
