.badge{
    padding: 0 4px;
    background-color: #D6B27D;
    color: #FFFFFF;
    font-size: 0.5rem;
    font-weight: bold;
    border-radius: 4px;
    position: relative;
    top: -30px;
    right: -30px;
    width: 1rem;
}

.input-with-padding {
    padding-left: 10px;
    border: 1px solid transparent;
    text-indent: 0px;
  }

  .gradient-background {
  background-image: linear-gradient(to bottom, #F0F8FF, #E6F2FB) !important;
}


