.ag-header-viewport {
     background-color: #FFE5D8 !important;
     font-weight: 300px;
     font-size: larger;
}
.ag-paging-row-summary-panel,.ag-paging-button,.ag-paging-description {
    color: #D6B27D !important;
}

.custom-ag-grid .ag-overlay-no-rows-center {
    color: #A09792; /* Change the color to your desired color */
  }