.pagination-type {
  margin-left: 350px !important;
  margin-top: -32px !important;
  border: 2px solid #ccc; 
  border-radius: 10px !important;
  /* padding: 10px;
  border-radius: 8px; 
  width: fit-content;
  margin: auto; */
}

.vertical-left {
  position: absolute;
  content: '';
  width: 1px; 
  height: 123% !important;
  background-color: #ccc;
  right: -11px;
  top: -3px;
}

.vertical-right {
  position: absolute;
  content: '';
  width: 1px; 
  height: 123% !important;
  background-color: #ccc;
  right: 18px;
  top: -3px;
}


