* {
    font-family: 'sofiapro';
}

.landing-page-image {
    background-color: #1e150ca1;
    background-blend-mode: multiply;
}

.staderCard {
    position: absolute;
    bottom: 0;
    left: 2;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    line-height: 93.6%;
    color: #D6B27D;
    opacity: 0.5;
}

.cart-item {
    cursor: pointer;
}

.badge {
    padding: 0 4px;
    background-color: #D6B27D;
    color: #FFFFFF;
    font-size: 0.5rem;
    font-weight: bold;
    border-radius: 4px;
    position: relative;
    top: -30px;
    right: -30px;
    width: 0.7rem;
}

.message-badge {
    padding: 0 5px;
    background-color: #D6B27D;
    color: #FFFFFF;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 4px;
    position: relative;
    top: -10px;
    width: 1.8em
}
.no-scroll {
    overflow: hidden;
  }